@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.#{$prefix}-error-display {
  border-radius: $radius-lg;
  border: 1px solid $color-red-300;
  background-color: $color-red-50;
  padding: $spacing-4;
  box-shadow: $shadow-sm;

  &-content {
    display: flex;
    align-items: flex-start;
    gap: $spacing-3;
  }

  &-icon {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    color: $color-red-500;
  }

  &-body {
    flex: 1;
  }

  &-title {
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-red-800;
  }

  &-message {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: $color-red-700;
  }
}
